<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900">
      <div class="input w-97 text-white p-10">
        <form action="/create" method="post">
            <input class="block w-full mt-5 h-[40px] rounded-md bg-zinc-700 px-4 py-2" type="text" placeholder="Enter Movie Name.." name="name">
            <textarea  class="block w-full mt-5 rounded-md resize-none bg-zinc-700 px-4 py-2"type="text" placeholder="Give your feedback for that movie." name="feedback"></textarea>
            <button class="mt-4 bg-blue-700 h-[40px] rounded-md px-4 hover:bg-blue-800 text-white" type="submit" value="submit">Send Feedback</button>
        </form>
      </div>
      <div class="card p-10 flex flex-wrap gap-4 justify-between ">

      <% if(files.length >0){ %>
        <% files.forEach((va)=>{ %>
            <div class="bg-zinc-600 w-3/12 px-4 py-2 rounded-md shadow-md">
                <h1 class="text-white text-3xl  tracking-tighter"><%=va %></h1>
                <a href="/files/<%=va%>" class="inline-block mt-3 text-blue-600 hover:underline">Read more</a>
              </div>
            <%  }) %>
      <% } else {%>
        <h1 class="text-zinc-600 ">No Feedback yets.</h1>
      <% } %>
      </div>
        
    </div>
</body>
</html>